<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
{% extends 'base.html' %} 
<title>
  {% block title %}
    Что-то интересное
  {% endblock %}
</title>
{% block content %}
  <h1>
    {{ group.title }}
  </h1>
  <p>
    {{ group.description }}
  </p>
{% for post in posts %}
  <ul>
    <li>
      Автор: {{ post.author.get_full_name }}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text }}</p>    
  <a href="">все записи группы</a>
  {% if not forloop.last %}<hr>{% endif %}
{% endfor %} 
{% endblock %}
</html> 